---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Sidebar from "../components/Sidebar.astro";


---

<!DOCTYPE html>
<html lang="en">
	<head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li :global(time) {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
        </style>
	</head>
    <body>
        <Header />
        <main>
            <Sidebar />
            <section>
                <ul>
                    {
                          <li>
                                <div>
                                    <h2>About NSS UCEK</h2>
                                    <p>
                                        NSS Unit of our college (Unit no:214) was registerd in the year 2013 under the University of Kerala. Since then we have gathered a group of enriched and 
                                        enthusiastic volunteers from all walks of life, indulging the lives of the underpriveleged.
                                        Every important day is welcomed with an open and celebrate mindset under our unit.By this we plan to 
                                        support the needy as well as emphasize our community of volunteers with the importance of the day in it's full glory.
                                        Our core community services includes : adoption of villages for intensive development work, caryng out the medico-social services, 
                                        setting up of medical camps, programs of mass awareness, sanitation drives, adult education system for the weaker sections of the community,
                                        blood donation camps and the list goes on.
                                        
                                        Besides these predefined activities we have also extended our services to the needy of particular area during crises;
                                        these include volunteer support to the flood-affected areas and supplying essential elements to the affected, production and distribution of masks 
                                        worth Rs 10lakhs during the covid pandemic situations.These are some of the activities comprises in the last few years; the list still remains way ahead. 
                                        Apart from these service, we have also coordinated several campaigns organized by the govt, comprising VIMUKTHI campaign, Tuberculosis awareness, 
                                        drug abuse awareness,'HOME FOR HOMELESS’ (for providing shelter to poor community), ‘PUNARJJANI’ (repairing & cleaning the old hospital equipments and furniture), 
                                        palliative care etc.


                                        Best Unit, Best program officer, and Best Volunteer awards at directive and university levels were presented to our unit.
                                        Our unit got attention from various Govt departments, government official medias ,public celebrities,social activities, politicians etc... 
                                        With our years of experience and gratitude we plan to hold our lives together in helping the needy. 
                                        Welcoming all to this socially influenced unit as a family member.
                                    </p>
                                    <center>
                                    <h4>Our Team</h4>
                                    <img src="/Nss uce unit.png" alt="Members" style="width: 480px; height:500px">
                                    <h5>Check out Our Youtube Channel</h5>
                                    <a href="https://www.youtube.com/@nssuceunit7393"><img src="/youtube-logo.png" alt="youtube channel" 
                                    style="width: 120px; height:100px">
                                    </a>
                                    </center>
                                    
                                </div>
                            </li>
                    }
                </ul>   
            </section>
        </main>
        <Footer />
		<style>
            div {
                border: 1px solid #ccc;
                padding: 2rem;
                width: 100%;
                background-color: #111111ef;
                color: #fff;
            }
			a {
                display: block;
            }
		</style>
	</body>
</html>
