---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Sidebar from "../components/Sidebar.astro";


---

<!DOCTYPE html>
<html lang="en">
	<head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li :global(time) {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
        </style>
	</head>
    <body>
        <Header />
        <main>
            <Sidebar />
            <section>
                <ul>
                    {
                          <li>
                                <div>
                                    <h2>About NSS UCEK</h2>
                                    <p>We are a part of NSS 
                                    </p>
                                    <h4>Our Team</h4>
                                    <img src="/Nss uce unit.png" alt="">
                                    <h4>Our Youtube Channel</h4>
                                
                                </div>
                            </li>
                    }
                </ul>   
            </section>
        </main>
        <Footer />
		<style>
            div {
                border: 1px solid #ccc;
                padding: 2rem;
                width: 100%;
                background-color: #111111ef;
                color: #fff;
            }
			a {
                display: block;
            }
		</style>
	</body>
</html>
