---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Carousel from "./Carousel.astro";
---
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<header>
	<div>
		<img src="/NSS.png" alt="NSS" width="60" height="60" />
		<h2>
			{SITE_TITLE}
		</h2>
	</div>
	<Carousel />
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/gallery">Gallery</HeaderLink>
		<HeaderLink href="/vimukthi">Vimukthi Mission</HeaderLink>
		<HeaderLink href="/about_us">About Us</HeaderLink>
		
		<input type="text" name="datefilter" value="" />

				<script type="text/javascript">
				$(function() {

  					$('input[name="datefilter"]').daterangepicker({
      					autoUpdateInput: false,
      					locale: {
          					cancelLabel: 'Clear'
     			 		}
 				 });

  					$('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      					$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  				 });

 		 			$('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
      					$(this).val('');
  				 });

			});
				</script>
	</nav>
</header>

<style>
	div {
		display: flex;
		align-items: center;
		gap: 1em;
		background-color: #353535;
		margin: 0 calc((100vw - 100%) / -2);
		padding: 1.5em calc((100vw - 100%) / 2);
	}
	header {
		margin: 0em 0 2em;
		max-width: 100vw;
	}
	h2 {
		margin: 0.5em 0;
		font-family: "Montserrat", sans-serif;
		color: #fff;
	}

	@media screen and (max-width: 600px) {
		h2 {
			font-size: 28px;
			line-height: 1.2;
		}
		nav {
			display: inline-flex;
			flex wrap: wrap;
			font-size: 12px;
		}
	}
		

</style>
